@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  

}

body {    
    justify-content: center;    
    text-align: center;  
}

.container {
    min-width: 290px;
    max-width : 900px;
    margin: 15px 10px;
    text-align: center;
    border: 1px solid red;
    border-radius: 5px;
}

.row {
    margin-right: 20px;
    margin-left: 20px;
    padding: 0;
}

.bg {
    background-image: url(../images/covid19b.jpg);
    background-size: cover;
}


h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f44336e0;
    font-weight: 600;
    text-shadow: 2px 1px 3px #000;    
    margin-top: 40px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #f44336e0;
    font-weight: 600;
    text-shadow: 2px 1px 3px #000;
}

h3{
    margin: 10px 0;
}

#date {
    color: blue;
    font-weight: 200px;
    text-shadow: 1px 1px 1px #000;
}

form input,
form button{
    width: 200px;
    height: 35px;
    border: 1px solid #ccc;
    padding: 0 5px;
    outline: none;
    cursor: pointer;
}

form button{
    width: 70px;
}

#name-country {
    color: #495057;
    margin-top: 10px;
}

.content{
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    cursor: pointer;
}

.content .box {
    min-width: 270px;
    margin: 10px;
    border: 2px solid #dee2e6;
    padding: 15px;
    letter-spacing: 2px;
    border-radius: 20px;
}

.content .box:hover{
    background: #eee4;
}

.content .box p{
    text-transform: uppercase;
    opacity: 1;
}

.confirmed, .global-case,
.global-daily-cases{
    color: #007bff;
}

.recovered, .global-recovery,
.global-daily-recovery{
    color: #28a745;
}

.deaths, .global-death,
.global-daily-deaths{
    color: #f44336;

}

::-webkit-scrollbar {
    display: none;
}

#map { 
    height: 400px;
    width: 400px;
 }

 