
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;     
}

body {    
    justify-content: center;    
    text-align: center;  
}

/* Header */
header {
    background-color: #dee2e65e;
}

#date {
    color: blue;
    font-weight: 200;
    text-shadow: 1px 1px 1px #000;
}

h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f44336e0;
    font-weight: 600;
    text-shadow: 2px 1px 3px #000;    
    margin-top: 40px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #f44336e0;
    font-weight: 600;
    text-shadow: 2px 1px 3px #000;
}

h3{
    margin: 10px 0;
}

.container {
    min-width: 290px;
    max-width : 900px;
    margin: 15px 10px;
    text-align: center;
    border: 1px solid red;
    border-radius: 5px;
}

.row {
    margin-right: 20px;
    margin-left: 20px;
    padding: 0;
}

/* Background Images and Color */
.bg{ 
    position: relative;     
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/covid19a.jpg);
    background-size: cover;
    background-position: center center;
    background-color: #dee2e6;    
}

.bg::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
}

.bg2{
    background-color: #013e52;
}

/* Country Section */
#name-country {
    color: #03A9F4;
    margin-top: 10px;
}

form input,
form button{
    width: 200px;
    height: 35px;
    border: 1px solid #ccc;
    padding: 0 5px;
    outline: none;
    cursor: pointer;
    background-color: rgb(31 104 121);
    color: #d63d32;    
}

form button{
    width: 70px;
}

button {
    color: #d63d32;
}

.headline {
    color: white;
}

/* Philippines Section */
#country {
     margin-bottom: 20px;
     margin-top: 10px;
     border-color: darkgray;
 }

#name-province {
    color: #03A9F4;
}

select{
    width: 200px;
    height: 35px;
    border: 1px solid #ccc;
    padding: 0 5px;
    outline: none;
    cursor: pointer;
    background-color: rgb(31 104 121);
    color: #ffc107;   
    font-weight: 600; 
}

::placeholder {
  color: #d63d32;
}

/* box property */
.content{
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    cursor: pointer;
}

.content .box {
    min-width: 270px;
    margin: 10px;
    border: 2px solid #dee2e6;
    padding: 15px;
    letter-spacing: 2px;
    border-radius: 20px;
}

.content .box:hover{
    background: #eee4;
}

.content .box p{
    text-transform: uppercase;
    opacity: 1;
}

.confirmed h3,
.global-case h3,
.global-daily-cases h3,
.ph-confirmed h3{
    color: #ffbc00;
}

.recovered h3,
.global-recovery h3,
.global-daily-recovery h3,
.ph-recovered h3{
    color: #FFEB3B;
}

.deaths h3, 
.global-death h3,
.global-daily-deaths h3,
.ph-deaths h3{
    color: #f44336;
}

/* Pie Chart */
.gender-chart,
.age-chart{
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Footer Section */
 footer {
     margin-top: 20px;
     margin-bottom: 20px;
     border-top: solid #f44336;
     background-color: #dee2e65e;
 }
 
 h4 {
     letter-spacing: 5px;
 }

.fa-instagram {
    color: red;
    padding-left: 20px;
    font-size: 50px;
    margin-right: 20px;
    height: ;
}

.fa-facebook {
    padding-right: 20px;
    font-size: 50px;
    margin-left: 20px;
}

.validator {
    margin-top: 20px;
}

.resource {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-headline {
    margin-top: 50px;
    margin-bottom: 20px;
}

.fa-envelope-square,
.fa-phone {
    font-size: 50px;  
    padding-right: 20px;
    margin-top: 30px;
    color: blue;
}

